<div class="cinema-container bgcolor-111">
    <div class="container">
        <div class="cinema-container text-center color-111">
            <div class="d-flex flex-column-reverse bd-highlight">
                <div class="p-2 bd-highlight border-basic desc-place">
                    <span>Chi nhánh 1: Cinema Landmark 81</span>
                    <div class="address-cinema">
                        <a href="/showtimes?branch=QBT01" class="address-hover">Tòa Landmark 81, 720A Điện Biên Phủ, P22, Bình Thạnh, HCM</a>
                    </div>
                </div> 
            </div>
            <div class="d-flex flex-column-reverse bd-highlight">
                <div class="p-2 bd-highlight border-basic desc-place">
                    <span>Chi nhánh 2: Cinema Phan Văn Trị</span>
                    <div class="address-cinema">
                        <a href="/showtimes?branch=QGV01" class="address-hover">482-484 Phan Văn Trị, P5, Gò Vấp, HCM</a>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column-reverse bd-highlight">
                <div class="p-2 bd-highlight border-basic desc-place">
                    <span>Chi nhánh 3: Cinema Võ Văn Ngân</span>
                    <div class="address-cinema">
                        <a href="/showtimes?branch=TDC01" class="address-hover">216 Võ Văn Ngân, P.Bình Thọ, Tp. Thủ Đức, HCM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>