<div class="carouse-container bgcolor-111 p-4 text-center">
    <div id="carouselExampleInterval" class="container carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="https://sportshub.cbsistatic.com/i/2021/12/21/9af1c8ed-a6bf-47ee-850f-310c901d80ad/secrets-of-dumbledore-header.jpg" class="d-block carouse-img margin-center" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://www.seawavemag.com/wp-content/uploads/2022/02/SEA-Wave-The-Lost-City-Payoff-Poster-1.jpeg" class="d-block carouse-img margin-center" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://see.news/wp-content/uploads/2022/02/271508328_3136127309967350_1012163358820899610_n-750x315.jpg" class="d-block carouse-img margin-center" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="https://img.vietcetera.com/uploads/images/08-mar-2022/poster-terbaru-the-batman.jpeg" class="d-block carouse-img margin-center" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
