<footer class="text-center bgcolor-111 footer">
    <!-- Section: Social media -->
    <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom pd-footer"
    >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block space-title">
        <span>Kết nối với chúng tôi:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="space-icon">
        <a class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
        </a>
    </div>
    <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="pd-footer">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                Chi nhánh
            </h6>
            <i class="fa-solid fa-location-dot icon"></i>
            <span class="desc">
                Chi nhánh 1: Tòa Landmark 81, 720A Điện Biên Phủ, P22, Bình Thạnh, HCM
            </span><br>
            <i class="fa-solid fa-location-dot"></i>
            <span class="desc">
                Chi nhánh 2: 482-484 Phan Văn Trị, P5, Gò Vấp, HCM
            </span><br>
            <i class="fa-solid fa-location-dot"></i>
            <span class="desc">
                Chi nhánh 3: 216 Võ Văn Ngân, P.Bình Thọ, Tp. Thủ Đức, HCM
            </span>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Điều khoản sử dụng
            </h6>
            <span class="desc">
                Điều khoản chung
            </span><br>
            <span class="desc">
                Điều khoản giao dịch 
            </span><br>
            <span class="desc">
                Chính sách thanh toán
            </span><br>
            <span class="desc">
                Chính sách bảo mật
            </span><br>
            <span class="desc">
                Câu hỏi thường gặp
            </span>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Hotline
            </h6>
            <span class="desc">
                <i class="fa-solid fa-phone icon"></i>
                Chi nhánh 1: 0123456
            </span><br>
            <span class="desc">
                <i class="fa-solid fa-phone icon"></i>
                Chi nhánh 2: 0456789
            </span><br>
            <span class="desc">
                <i class="fa-solid fa-phone icon"></i>
                Chi nhánh 3: 0789123
            </span>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Chăm sóc khách hàng
            </h6>
            <span class="desc">
                <i class="fa-solid fa-clock icon"></i>
                Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết)
            </span><br>
            <span class="desc">
                <i class="fa-solid fa-envelope ion"></i>
                Email hỗ trợ: motphim@gmail.com
            </span>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->